*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(images/background.png);
    background-size: cover;
    background-position: center;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}

.logo{
    cursor: pointer;
}

.Menu{
    cursor: pointer;
    width: 30px;
    margin-left: 40px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.row{
    display: flex;
    height: 88%;
    align-items: center;
}

.col{
    flex-basis: 50%;
}

h1{
    color: aliceblue;
    font-size: 100px;
}

p{
    color: aliceblue;
    margin-top: 20px;
    line-height: 20px;

}

button{
   width: 0;
   font-size: 25px;
   padding: 12px 0;
   margin-top: 30px;
   border: none;
   border-radius: 25px;
   color: aliceblue;
   transition: 0.5s;
   
}

.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    transition: 0.5s;
    background-position: center;
    background-size: cover;

}

.card1{
    background-image: url(images/pic\ 1.jpg);
}

.card2{
    background-image: url(images/pic\ 2.jpg);
}

.card3{
    background-image: url(images/pic\ 3.jpg)
}

.card4{
    background-image: url(images/pic\ 4.jpg);
}

.card:hover{
    transform: translateY(-10px);
}

h5{
    color: aliceblue;
    text-shadow: 0 0 5px #999;
}

.card p{
    text-shadow: 0 0 15px #000;
    font-size: 8px;
    line-height: 10px;
}

button:hover{
    width: 180px;
    font-size: 25px;
    padding: 12px 0;
    margin-top: 30px;
    border: none;
    border-radius: 25px;
    color: black;
    
 }
